name:<br>
<input [(ngModel)]="name" placeholder="name"><br>
email:<br>
<input [(ngModel)]="email" placeholder="email"><br>
password:<br>
<input [(ngModel)]="password" placeholder="password"><br>
<button (click)="create()">create user</button>
<button (click)="createAdmin()">create admin</button>
<button (click)="login()">login</button>

<br><br><br><br>

year:<br>
<input [(ngModel)]="year" placeholder="year"><br>
month:<br>
<input [(ngModel)]="month" placeholder="month"><br>
day:<br>
<input [(ngModel)]="day" placeholder="day"><br>
startingHour:<br>
<input [(ngModel)]="startHour" placeholder="startingHour"><br>
endingHour:<br>
<input [(ngModel)]="endHour" placeholder="endingHour"><br>
startingMinute:<br>
<input [(ngModel)]="startMinute" placeholder="startingMinute"><br>
endingMinute:<br>
<input [(ngModel)]="endMinute" placeholder="endingMinute"><br>
<button (click)="createVisit()">createVisit</button>

<br><br><br>

visitId:<br>
<input [(ngModel)]="visitId" placeholder="visitId"><br>
<button (click)="update()">update</button><button (click)="delete()">delete</button>
<br><br>
<button (click)="profile()">profile</button><button (click)="details()">details</button>
<br><br>
<button (click)="add()">add</button><button (click)="remove()">remove</button>
